@import "tailwindcss";

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 2s ease-out forwards;
}